<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.kpbdstudio.mypos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".util.CustomApplication"
            android:allowBackup="true"
            android:usesCleartextTraffic="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyPOS"
            tools:targetApi="31">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity
                android:name=".IntroActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoginOptionActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity
                android:name=".MainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/Theme.MyPOS.NoActionBar"/>
        <activity android:name=".SingleMenuCategoryActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".HotDealActvity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".NewAddressActivity" />
        <activity android:name=".NewPaymentActivity" />
        <activity android:name=".OrderComfirmationActivity" />
        <activity android:name=".OrderProcessActivity" />

        <!--<meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />-->

        <!--<activity
                android:name="com.inducesmile.map.OrderTrackingActivity"
                android:label="@string/title_activity_order_tracking" />

        <activity android:name="com.inducesmile.notification.NotificationActivity" />

        <service android:name="com.inducesmile.notification.CustomsFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.inducesmile.notification.CustomsFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>-->

        <activity android:name=".OrderListActivity"></activity>

    </application>


</manifest>